html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Центрування по вертикалі */
  align-items: center; /* Центрування по горизонталі */
  min-height: 100vh; /* Мінімальна висота 100% висоти вікна браузера */
}

